*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;


}.container{
    
    width: 980px;
    margin: 0 auto;
    list-style: none;


}header{
    width: 80%;
    height: 168px;
    background: #ffc1f2;
    padding: 0 10%;
    
    
}header img{
    width: 200px;
    height: 168px;
    border-radius: 100px;
    float: right;
    
}a{
    
    color: #ff0000;
    text-decoration: none;
    font-size: 20px;
    text-align: left;
    float: right;
    

}.menu ul li {
    display: inline;
    
    padding: 5%;
    font-weight: bold;
}li {
    text-align: -webkit-match-parent;
}
.menu ul {
    list-style-type: none;
}ul {
    list-style-type: disc;
}
.menu {
    line-height: 60px;

}a{
    display: block;
    margin-block-start: 1em;
    
    margin-inline-start: 60px;
    margin-inline-end: 1px;

}form{
    
    padding: 1%;

    text-decoration: none;
    font-weight: bold;

}.btn{
    padding: 8px 12px;
    background-color: #2600ff;
    color: #ffff;
    border: none;
    cursor: pointer;


}.text-center {
    text-align: center;


}section {
    display: block;
}.social ul {
    list-style-type: none;


}ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.text-center {
    text-align: center;
}p{
    font-size: 25px;
    display: block;
    margin-block-start: 3em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}.NTK{
    cursor: pointer;
    color: #ff0000;
    height: 40px;
    line-height: auto;
    font-weight: bolder;
    text-align: center;
    list-style: none;
    float:left;
   
}section{
    background: rgb(235, 10, 10);
    text-align: center;
    line-height: auto;
    list-style: none;
    text content: auto;
}



