*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;


}.container{
    
    width: 100%;
    margin: 0 auto;
    list-style: none;


}header{
    width: 80%;
    height: 168px;
    background: #ffc1f2;
    padding: 0 10%;
    
}

header img{
    width: 200px;
    height: 168px;
    border-radius: 100px;
    float: right;
    
}.anh1{
    float: right;

}
nav{
    
    height: 30px;
    background-color: #ffc1f2;

}a{
    
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    text-align: left;
    float: right;

}.menu ul li {
    display: inline;
    padding: 1%;
    font-weight: bold;
}li {
    text-align: -webkit-match-parent;
}
.menu ul {
    list-style-type: none;
}ul {
    list-style-type: disc;
}
.menu {
    line-height: 60px;
}
}section {
    display: block;

}a{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.text-center {
    text-align: center;


}.social ul {
    list-style-type: none;


}ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.text-center {
    text-align: center;
}




